<section class="socialContainer">
  <p>&copy; 2025 | Mitchelle Garrett | WDD330</p>
  <div>
    <a class="social">
      <a href="https://www.facebook.com/"><img src="./images/facebook100.png" alt="Facebook icon"/></a>
      <a href="https://www.linkedin.com/"><img src="./images/linkedin100.png" alt="Linkedin icon" /></a>
      <a href="https://www.x.com/"><img src="./images/x30x30.png" alt="Twitter icon" /></a>
    </figure>
  </div>
</section>

<a class="sitePlan" href="./SitePlan/sitePlan.html">Site Plan</a>
