<section class="logoTitleContainer">
  <div class="logoHeader">
    <div class="logo">
      <a href="./index.html">
        <div class="logoPrint">
          All Things<span class="highlight"> Green</span>
        </div>
        <img
          class="logoImg"
          src="./images/AllThingsGreenLogo.jpg"
          alt="All Things Green logo"
        />
      </a>
    </div>
    <h1 class="headerTitle">All Things Green</h1>
  </div>
</section>
<nav>
  <ul id="ulList" class="open">
    <li><a href="./index.html">Home</a></li>
    <li id="findPlants">
      <a href="./plantSpecies.html?filter=all">Plant Species</a>
    </li>
    <li><a href="./searchPlants.html">Search Plants</a></li>
    <li><a href="./favorites.html">Favorites</a></li>
    <li class="auth-buttons">
      <a href="./login.html" id="login-link">Sign In</a>
      <a href="#" id="logout-link" style="display: none">Sign Out</a>
    </li>
  </ul>
</nav>
