<section class="logoTitleContainer">
  <div class="logoHeader">
    <div class=" logo">
    <a href="./index.html">
      <div class="logoPrint">
        All Things<span class="highlight"> Green</span>
      </div>
      <img
        class="logoImg"
        src="./images/AllThingsGreenLogo.jpg"
        alt="All Things Green logo"
      />
      </div>
      <h1 class="headerTitle">All Things Green</h1>
    </a>
  </div>
  <!-- <div class="logo logo--square">
  <img src="images/AllThingsGreenLogo.jpg" alt="tent image for logo" />
  <div>All Things<span class="highlight"> Green</span></div>
</div> -->
</section>
<nav>
  <ul id="ulList" class="open">
    <!-- <li><a href="./SitePlan/sitePlan.html">Site Plan</a></li> -->
    <li><a href="./index.html">Home</a></li>
    <li id="findPlants">
      <a href="./plantSpecies.html?filter=all">Plant Species</a>
    </li>
    <li><a href="./searchPlants.html">Search Plants</a></li>
    <li><a href="./favorites.html">Favorites</a></li>
  </ul>
</nav>
